In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dict1={
       "name":["harry","SLS","SS","Ram"],
       "marks":[28,100,85,40],
       "city":["Bhkt","Ktm","Ptn","Ktm"]
    }

In [4]:
dict1

{'name': ['harry', 'SLS', 'SS', 'Ram'],
 'marks': [28, 100, 85, 40],
 'city': ['Bhkt', 'Ktm', 'Ptn', 'Ktm']}

In [5]:
df1=pd.DataFrame(dict1)

In [6]:
df1

    name  marks  city
0  harry     28  Bhkt
1    SLS    100   Ktm
2     SS     85   Ptn
3    Ram     40   Ktm

In [7]:
df1.to_csv('student_marks.csv')

In [8]:
df1.to_csv('student_marks_false_index.csv', index=False)